.projects{
	max-width: 400px;
	min-height: 300px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	.view__sourse{
		position: absolute;
		width: 100%;
    top: 0;
		display: flex;
		justify-content: space-between;
		transition: 0.5s;
		.btn{
			margin: 10px;
			background: rgba(47, 48, 58, 0.8);
			padding: 5px 10px;
			border: none;
			cursor: pointer;
			font-weight: 600;
			font-size: 14px;
			line-height: 12px;
			text-align: center;
			text-transform: capitalize;
			text-decoration: none;
			color: #FFFFFF;
		}
		.btn-view{
			opacity: 0;
		}
		.btn-view-active{
			opacity: 1;
		}
	}
	img{
		width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
    transition: 0.5s;
	}
	img:hover{
		transform: scale(1.1);
	}
	.span{
		position: absolute;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
		h4{
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;
			color: #FFFFFF;
		}
		h5{
			font-weight: 400;
			font-size: 16px;
			line-height: 15px;
			color: #FFFFFF;
			padding-bottom: 10px;
		}
	}
}