.blog__section {
	width: 100%;
	background-color: #1f2235;
	// padding-top: 50px;

	.blog__container {
		width: 100%;
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;

		.blog {
			padding: 12px 14px;
			background: #24263b;
			box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 12px;
			text-align: center;
			letter-spacing: 0.15em;
			text-transform: capitalize;
			color: #ffffff;
		}

		.blog:hover {
			transform: scale(1.05);
		}

		.all__blogs {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			column-gap: 30px;
			row-gap: 50px;
			padding-top: 50px;
			padding-bottom: 100px;
		}

		.subscribe__section {
			width: 100%;
			padding: 60px 20px;
			background-color: #24263b;
			border-radius: 10px;
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

			.subscribe__container {
				padding: 40px 20px;
				background-color: #1f2235;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;

				.text {
					margin-bottom: 20px;

					h3 {
						font-weight: 400;
						font-size: 24px;
						line-height: 28px;
						color: #ffffff;
					}

					h2 {
						font-weight: 700;
						font-size: 36px;
						line-height: 1.2;
						color: #ffffff;
						padding-top: 9px;
					}

					p {
						font-weight: 400;
						font-size: 18px;
						line-height: 21px;
						color: #ffffff;
						padding-top: 12px;
					}
				}

				.form {
					width: 100%;
					max-width: 550px;
					display: flex;
					flex-direction: row;
					align-items: center;
					background: #ffffff;
					border-radius: 80px;
					overflow: hidden;

					input {
						flex: 1;
						background: #ffffff;
						border-radius: 80px;
						border: none;
						outline: none;
						padding: 15px;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #9da1b4;
					}

					button {
						background: #fe461c;
						border-radius: 80px;
						padding: 0 30px;
						border: none;
						font-weight: 700;
						font-size: 16px;
						line-height: 15px;
						color: #ffffff;
						height: 100%;
						transition: background 0.3s ease-in-out;
					}

					button:hover {
						background: #ff7043;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1441px) {
	.blog__section {
		.blog__container {
			.all__blogs {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.blog__section {
		.blog__container {
			padding: 50px;
			.all__blogs {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.blog__section {
		.blog__container {
			padding: 10px 20px;
			.all__blogs {
				grid-template-columns: 1fr;
				row-gap: 20px;
			}
			.subscribe__section {
				padding: 0;
				.subscribe__container {
					padding: 20px;
					.form {
						flex-direction: column;
						row-gap: 10px;

						input {
							width: 100%;
							padding: 10px;
						}

						button {
							width: 100%;
							padding: 10px;
						}
					}
				}
			}
		}
	}
}
