.portfolio__section{
	width: 100%;
	background-color: #1F2235;
	.portfoilo__container{
		width: 100%;
		min-height: 90vh;
		padding: 0 100px;
		display: flex;
		align-items:center;
		justify-content: center;
		.portfoilo{
			width: 115px;
			height: 35px;
			background: #24263B;
			box-shadow: 0px 0px 24px rgba(15, 16, 24, 0.42);
			border-radius: 4px;
			color: #fff;
		}
	}
}