header{
	width: 100%;
	background-color: #1F2235;
	padding:20px 100px;
	.header__container{
		height: 10vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #1F2235;
		.header__logo{
			h1{
				font-weight: 700;
				font-size: 32px;
				line-height: 15px;
				text-transform: capitalize;
				color: #fff;
				cursor: pointer;
			}
		}
		nav{
			ul{
				display: flex;
				align-items:center;
				column-gap: 20px;
				list-style: none;
				li{
					.nav-link{
						font-weight: 700;
						font-size: 16px;
						line-height: 15px;
						text-align: center;
						text-transform: capitalize;
						color: #FFFFFF;
						text-decoration: none;
					}
					.link-button{
						button{
							width: 150px;
							height: 50px;
							border:none;
							background: #FE461C;
							border-radius: 4px;
							font-weight: 700;
							font-size: 16px;
							line-height: 15px;
							text-align: center;
							text-transform: capitalize;
							color: #FFFFFF;
							cursor: pointer;
						}
					}
					.nav-link-active{
						font-weight: 700;
						font-size: 16px;
						line-height: 15px;
						text-align: center;
						text-transform: capitalize;
						color:#FE461C;
						text-decoration: none;
					}
				}
			}
		}
	}
}
