header {
	width: 100%;
	background-color: #1f2235;
	padding: 20px 100px;
	.header__container {
		height: 10vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #1f2235;
		.header__logo {
			h1 {
				font-weight: 700;
				font-size: 32px;
				line-height: 15px;
				text-transform: capitalize;
				color: #fff;
				cursor: pointer;
			}
		}
		nav {
			ul {
				display: flex;
				align-items: center;
				column-gap: 20px;
				list-style: none;
				li {
					.nav-link {
						font-weight: 700;
						font-size: 16px;
						line-height: 15px;
						text-align: center;
						text-transform: capitalize;
						color: #ffffff;
						text-decoration: none;
					}
					.link-button {
						padding: 17px 15px;
						border: none;
						background: #fe461c;
						border-radius: 4px;
						cursor: pointer;
						font-weight: 700;
						font-size: 16px;
						line-height: 15px;
						text-align: center;
						text-transform: capitalize;
						color: #ffffff;
					}
					.nav-link-active {
						font-weight: 700;
						font-size: 16px;
						line-height: 15px;
						text-align: center;
						text-transform: capitalize;
						color: #fe461c;
						text-decoration: none;
					}
				}
			}
			.burger {
				display: none;
			}
			.close {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
	header {
		padding: 20px 50px;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
	header {
		padding: 20px 50px;
		.header__container {
			nav {
				ul {
					li {
						.link-button {
							button {
								width: 120px;
								height: 40px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1000px) {
	header {
		padding: 20px 50px;
		.header__container {
			nav {
				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					row-gap: 50px;
					width: 100%;
					min-height: 100vh;
					background: rgba(0, 0, 0, 0.9);
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					left: -100%;
					transition: 0.3s;
					li {
						.nav-link {
							font-weight: 500;
							font-size: 24px;
						}
						.link-button {
							display: none;
						}
						.nav-link-active {
							font-weight: 600;
							font-size: 24px;
						}
					}
				}
				ul.active {
					left: 0;
				}
				.burger {
					display: block;
					color: #fff;
					font-size: 24px;
					cursor: pointer;
				}
				.close {
					display: block;
					color: #fff;
					font-size: 24px;
					z-index: 3;
					cursor: pointer;
					position: absolute;
					right: 50px;
					top: 50px;
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	header {
		padding:10px 20px;
		.header__container {
			.header__logo {
				h1 {
					font-size: 28px;
				}
			}
			nav {
				ul {
					display: flex;
					row-gap: 40px;
				}
				.close {
					right: 20px;
					top: 30px;
				}
			}
		}
	}
}
